{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>测试</h1>
{# 当第一行声明了{ % load static %}之后 下面的文件就可以写为 src="{%  static '5.jpeg' %}" #}
<img src="{%  static '5.jpeg' %}" alt="" />
{#<img src="/static/5.jpeg" alt="" />#}
</body>
</html>